<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Node获取日志\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <!--conversionPattern value="%newline %date 线程ID:[%thread]  日志级别：  %-5level  - 描述：%message%newline "/-->
        <conversionPattern value="%date %-5level %logger %message %newline"/>
      </layout>
    </appender>
    <!--定义第二个文件存放位置-->
    <appender name="OffLineLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Node显示日志\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <!--conversionPattern value="%newline %date 线程ID:[%thread]  日志级别：  %-5level  - 描述：%message%newline "/-->
        <conversionPattern value="%date %-5level %logger %message %newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <!--文件形式记录日志-->
      <!--<appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="OffLineLogFileAppender"/>-->
    </root>
    <logger additivty="false" name="OffLineLogFileAppender">
      <level value="INFO"/>
      <appender-ref ref="OffLineLogFileAppender"/>
    </logger>
    <logger additivty="false" name="RollingLogFileAppender">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<appSettings>
    <add key="ScanRate" value="3"/>
    <add key="ShowRate" value="3"/>
</appSettings>
</configuration>
